@page "/login"
@using Ambrosuite.Web.Entities
@inject NavigationManager Navigation
@inject HttpClient Http
@rendermode InteractiveServer
@using Ambrosuite.Web.ServicesWeb;
@inject AuthService AuthService

<div class="home-background">
    <div class="overlay text-center text-white d-flex flex-column justify-content-center align-items-center">
        <div class="card bg-dark bg-opacity-75 border-0 rounded-4 mt-4 p-4 shadow">
            <h5 class="card-title fw-bold">Iniciar Sesión</h5>
            <!-- Textbox para filtrar -->
            <div class="mb-3">
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="m-3 alert alert-danger">@ErrorMessage</div>
                }

                <div class="m-4">
                    <label>Email</label>
                    <input @bind="email" class="form-control" />
                </div>

                <div class="m-4">
                    <label>Contraseña</label>
                    <input type="password" @bind="password" class="form-control" />
                </div>

                <button @onclick="Login" class="m-4 btn btn-primary">Ingresar</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string email { get; set; } = "";
    private string password { get; set; } = "";
    private string ErrorMessage { get; set; } = "";

    private async Task Login()
    {
        var loginData = new LoginViewModel { email = email, password = password};

        bool success = await AuthService.Login(loginData);

        if (success)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            ErrorMessage = "Email o contraseña incorrectos.";
        }
    }
}