@page "/login"
@using Ambrosuite.Web.Entities
@inject NavigationManager Navigation
@inject HttpClient Http
@rendermode InteractiveServer
@using Ambrosuite.Web.ServicesWeb;
@inject AuthService AuthService

<h3>Iniciar Sesión</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<div>
    <label>Email</label>
    <input @bind="email" class="form-control" />
</div>

<div>
    <label>Contraseña</label>
    <input type="password" @bind="password" class="form-control" />
</div>

<button @onclick="Login" class="btn btn-primary">Ingresar</button>

@code {
    private string email { get; set; } = "";
    private string password { get; set; } = "";
    private string ErrorMessage { get; set; } = "";

    private async Task Login()
    {
        var loginData = new LoginViewModel { email = email, password = password};

        bool success = await AuthService.Login(loginData);

        if (success)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            ErrorMessage = "Email o contraseña incorrectos.";
        }
    }
}