<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link href="css/tablas_indice.css" rel="stylesheet" />
    <link href="css/estilo_modal.css" rel="stylesheet" />
    <link rel="stylesheet" href="Ambrosuite.Web.styles.css" />
    <link href="css/estilo_detalle.css" rel="stylesheet" />
    <link href="css/estilo_abm.css" rel="stylesheet" />
    <link href="css/estilo_inventario.css" rel="stylesheet" />
    <script src="js/detalle_funciones.js"></script>
    @* <link href="_content/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="css/estilo_fondo.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
